<!-- @format -->

<nav>
  <ul>
    <li><a href="http://localhost:3002">Home</a></li>
    <li><a href="http://localhost:3002/about">about</a></li>
    <li><a href="http://localhost:3002/about_">about_</a></li>
  </ul>
</nav>
