<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs")%>
  <body>
    <%- include("../partials/nav.ejs")%>

    <h1>hey its the html page</h1>
    <h2>I am responsing from the server</h2>
  </body>
</html>
